[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lactcurves"]
	path = lactcurves
	url = https://github.com/evastrucken/lactcurves
